{% extends 'base.html.twig' %}

{% block title %}Le comptoir de la santé {% endblock %}

      {% block body %}

      {# CART
    ================================================== #}
    <section class="section mt-7">

      {# Content #}
      <div class="container">
        <div class="row">
          
          <div class="col-lg-8 order-lg-1 order-md-1">
            
            {# Heading #}
            <h3 class="mb-4">
              Prêt à commander?
            </h3>

            {# Subheading #}
            <p class="text-muted mb-5">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iusto optio cum maiores aliquid ipsa consectetur.
            </p>

            {# Form #}
            <form>

              {# Inputs #}
              <div class="form-group">
                <label>
                  Prénom
                </label>
                <input type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>
                  Nom
                </label>
                <input type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label>
                  Pays
                </label>
                <select class="custom-select">
                  <option value="1">
                    Luxembourg
                  </option>
                  <option value="2">
                    Belgium
                  </option>
                  <option value="3">
                    Canada
                  </option>
                  <option value="4">
                    Denmark
                  </option>
                  <option value="5">
                    England
                  </option>
                  <option value="6">
                    Finland
                  </option>
                  <option value="7">
                    Germany
                  </option>
                  <option value="8">
                    Hungary
                  </option>
                  <option value="9">
                    Iceland
                  </option>
                  <option value="10">
                    Japan
                  </option>
                </select>
              </div>
              <div class='row'>
                  <div class='col-6'>
                      <div class="form-group mb-5">
                          <label>
                              Rue
                          </label>
                          <input type="text" class="form-control" required>
                      </div>
                  </div>
                  <div class='col-6'>
                      <div class="form-group mb-5">
                          <label>
                              Numéro
                          </label>
                          <input type="text" class="form-control" required>
                      </div>
                  </div>
                      
              </div>
              


            </form>

          </div>
          <div class="col-lg-4 order-lg-2 order-md-2">
            
              {# Card #}
              <div class="card card-active mb-5">
                
                {# Body #}
                <div class="card-body text-center">
  
                  <div class="form-row mb-5">
                    <div class="col-12">
                        
                        {# Label #}
                        <h4 class="card-title">
                        Méthode d'envoi
                        </h4>
    
                    </div>
                    <div class="col-md">
    
                        {# Method #}
                        <div class="extended-radio">
                          <input class="extended-radio-input" id="delivery-method" type="radio" name="shipment-method" checked>
                          <label class="extended-radio-label" for="delivery-method">
                              Livraison
                          </label>
                        </div>
                        
                    </div>
                    <div class="col-md">
    
                        {# Method #}
                        <div class="extended-radio">
                          <input class="extended-radio-input" id="takeaway-method" type="radio" name="shipment-method" >
                          <label class="extended-radio-label" for="takeaway-method">
                              A retirer
                          </label>
                        </div>
                        
                 
                        
                    </div>
                    </div>
            
  
                  <div class="form-row mb-5">
                    <div class="col-12">
                        
                        {# Label #}
                        <h4 class="card-title">
                        Méthode de paiement
                        </h4>
    
                    </div>
                    <div class="col-md">
    
                        {# Method #}
                        <div class="extended-radio">
                        <input class="extended-radio-input" id="checkout-method-stripe" type="radio" name="checkout-method" checked>
                        <label class="extended-radio-label" for="checkout-method-stripe">
                            <i class="fab fa-cc-visa"></i>
                            <i class="fab fa-cc-mastercard"></i>
                        </label>
                        </div>
                        
                    </div>
                    <div class="col-md">
    
                        {# Method #}
                        <div class="extended-radio">
                        <input class="extended-radio-input" id="checkout-method-paypal" type="radio" name="checkout-method">
                        <label class="extended-radio-label" for="checkout-method-paypal">
                            A la réception
                        </label>
                        </div>
                        
                    </div>
                  
                    </div>
                    <div class="row align-items-center mb-5 mb-md-4">
                            <div class="col-12 col-md-2 p-0">
                              
                              <div class="img mb-md-0">
                                <img src="assets/img/comptoir1.jpeg" alt="..." class="img-cover">
                              </div>
              
                            </div>
                            <div class="col-12 col-md-5 p-0">
                              
                              {# Heading #}
                              <h6 class='mb-0'>
                                Glycemaxo
                              </h6>
              
                            </div>
                            <div class="col-4 col-md-2 p-0">
                              
                              {# Price #}
                              <p class="mb-0 text-sm text-muted">
                                € 20,60
                              </p>
              
                            </div>
                            <div class="col-4 col-md-2 p-1">
                              
                              <input type="number" class="form-control form-control-sm" min="0" value="1">
              
                            </div>
                            <div class="col-4 col-md-1 p-1">
                              
                              {# Remove #}
                              <div class="close">
                                &times;
                              </div>
              
                            </div>
                          </div> {# / .row #}
              
                          <div class="row align-items-center mb-5 mb-md-4">
                            <div class="col-12 col-md-2 p-0">
                              
                              <div class="img mb-md-0">
                                <img src="assets/img/comptoir1.jpeg" alt="..." class="img-cover">
                              </div>
              
                            </div>
                            <div class="col-12 col-md-5">
                              
                              {# Heading #}
                              <h6 class='mb-0'>
                                Creme dessert vanille
                              </h6>
              
                            </div>
                            <div class="col-4 col-md-2 p-0">
                              
                              {# Price #}
                              <p class="mb-0 text-sm text-muted">
                                € 5,80 
                              </p>
              
                            </div>
                            <div class="col-4 col-md-2 p-1" >
                              
                              <input type="number" class="form-control form-control-sm" min="0" value="1">
              
                            </div>
                            <div class="col-4 col-md-1 p-1">
                              
                              {# Remove #}
                              <div class="close">
                                &times;
                              </div>
              
                            </div>
                          </div> {# / .row #}
                          {# Divider #}
                          <hr>
                    {# Total #}
                    <div class="form-row mb-5">
                        <div class="col-12">
                          
                          {# Pre #}
                          <div class="text-right">
                            Panier: € 46,63
                          </div>

                          <div class="text-right">
                            Livraison: € 6
                            </div>
            
        
                          {# Divider #}
                          <hr>
        
                          {# Total #}
                          <div class="text-right font-weight-bold">
                            Total: € 52,63
                          </div>
        
                        </div>
                      </div>
        
                      {# Buttons #}
                      <div class="text-left">
                        <button type="submit" class="btn btn-outline-primary">
                          Commander et Payer
                        </button>
                        <button type="reset" class="btn btn-link">
                          Annuler
                        </button>
                      </div>
  
                </div>
                
              </div> {# / .card #}
  
            </div>
        </div> {# / .row #}
      </div> {# / .container #}
      
    </section>

      {% endblock %}