{% extends 'base.html.twig' %}

{% block title %}Le comptoir de la santé {% endblock %}

      {% block body %}
          {# BREADCRUMBS
    ================================================== #}
    <nav class="breadcrumb" style='background-color:white;margin-top:9rem'>
        <div class="container">
          <div class="row align-items-center">
            <div class="col">
              
              {# Heading #}
              <h5 class='text-muted'>
                Votre Panier :
              </h5>
  
            </div>
            <div class="col-auto">
  
              {# Breadcrumb #}
              <span class="breadcrumb-item">
                <a class='text-muted' href="index.html">Acceuil</a>
              </span>
              <i class="fas fa-angle-right mr-1 ml-1"></i>
              <span class="breadcrumb-item active">
                Panier
              </span>
            
            </div>
          </div> {# / .row #}
        </div> {# / .container #}
      </nav>

       {# Panier
    ================================================== #}
    <section class="section" style='padding-top:2rem'>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10">
              
              {# Heading #}
              {# <h3 class="mb-5">
                Votre Panier :
              </h3> #}
  
              <div class="row align-items-center mb-5 mb-md-4">
                <div class="col-12 col-md-2">
                  
                  <div class="img-square mb-4 mb-md-0">
                    <img src="assets/img/comptoir1.jpeg" alt="..." class="img-cover">
                  </div>
  
                </div>
                <div class="col-12 col-md-5">
                  
                  {# Heading #}
                  <h4>
                    Acide Alpha Lipoïque Forme R
                  </h4>
  
                  {# Text #}
                  <p class="mb-4 mb-md-0 text-sm text-muted">
                    L'acide R alpha lipoïque, de par son influence directe sur le métabolisme et l'utilisation de l'insuline, aurait une action directe sur la glycation donc sur le diabète.
                  </p>
  
                </div>
                <div class="col-4 col-md-2">
                  
                  {# Price #}
                  <p class="mb-0 text-sm text-muted">
                    € 15,13
                  </p>
  
                </div>
                <div class="col-4 col-md-2">
                  
                  <input type="number" class="form-control form-control-sm" min="0" value="1">
  
                </div>
                <div class="col-4 col-md-1">
                  
                  {# Remove #}
                  <div class="close">
                    &times;
                  </div>
  
                </div>
              </div> {# / .row #}
  
              <div class="row align-items-center mb-5 mb-md-4">
                <div class="col-12 col-md-2">
                  
                  <div class="img-square mb-4 mb-md-0">
                    <img src="assets/img/comptoir1.jpeg" alt="..." class="img-cover">
                  </div>
  
                </div>
                <div class="col-12 col-md-5">
                  
                  {# Heading #}
                  <h4>
                    Glycemaxo
                  </h4>
  
                  {# Text #}
                  <p class="mb-4 mb-md-0 text-sm text-muted">
                    Glycemaxo est un complément alimentaire micronutritionnel pour réguler la glycémie et l'hémoglobine glycosylée.
                  </p>
  
                </div>
                <div class="col-4 col-md-2">
                  
                  {# Price #}
                  <p class="mb-0 text-sm text-muted">
                    € 20,60
                  </p>
  
                </div>
                <div class="col-4 col-md-2">
                  
                  <input type="number" class="form-control form-control-sm" min="0" value="1">
  
                </div>
                <div class="col-4 col-md-1">
                  
                  {# Remove #}
                  <div class="close">
                    &times;
                  </div>
  
                </div>
              </div> {# / .row #}
  
              <div class="row align-items-center mb-5 mb-md-4">
                <div class="col-12 col-md-2">
                  
                  <div class="img-square mb-4 mb-md-0">
                    <img src="assets/img/comptoir1.jpeg" alt="..." class="img-cover">
                  </div>
  
                </div>
                <div class="col-12 col-md-5">
                  
                  {# Heading #}
                  <h4>
                    Creme dessert vanille
                  </h4>
  
                  {# Text #}
                  <p class="mb-4 mb-md-0 text-sm text-muted">
                    En-cas hyperprotidique et hypocalorique appauvri en lipides et glucides dont la valeur énergétique est de 100kcal par unité, avec édulcorants.
                  </p>
  
                </div>
                <div class="col-4 col-md-2">
                  
                  {# Price #}
                  <p class="mb-0 text-sm text-muted">
                    € 5,80 
                  </p>
  
                </div>
                <div class="col-4 col-md-2">
                  
                  <input type="number" class="form-control form-control-sm" min="0" value="1">
  
                </div>
                <div class="col-4 col-md-1">
                  
                  {# Remove #}
                  <div class="close">
                    &times;
                  </div>
  
                </div>
              </div> {# / .row #}
  
              <hr class="mt-5 mb-4">
  
              <div class="row align-items-center">
                <div class="col">
                  
                  {# Link #}
                  <a href="shop.html">
                    <i class="fas fa-angle-left mr-2"></i> Continuer vos achats
                  </a>
  
                </div>
                <div class="col-auto">
                  
                  {# Total #}
                  <h4 class="mb-0">
                    € 46,63
                  </h4>
                  
                </div>
              </div> {# / .row #}
  
              <hr class="mt-4 mb-5">
  
              <div class="text-center mb-5 mb-md-0">
  
                {# Button #}
                <a href="checkout.html" class="btn btn-outline-primary">
                  Paiement <i class="fas fa-arrow-right ml-2"></i>
                </a>
  
              </div>
  
            </div>
            <div class="col-12 col-md-2">
              
              {# Title #}
              <h6 class="title">
                Liens rapide
              </h6>
  
              {# Nav #}
              <ul class="sidenav list-unstyled">
                <li class="text-xs text-uppercase mb-2">
                  <a href="#!">Livraison & paiement</a>
                </li>
                <li class="text-xs text-uppercase mb-2">
                  <a href="#!">Protection des données</a>
                </li>
                <li class="text-xs text-uppercase mb-2">
                  <a href="#!">Politique des retours</a>
                </li>
              </ul>
  
            </div>
          </div> {# / .row #}
        </div> {# / .container #}
      </section>

      {% endblock %}