{% extends 'base.html.twig' %}

{% block title %}Le comptoir de la santé {% endblock %}

      {% block body %}
      {# ITEM
    ================================================== #}
    <section class="section pb-0" style='padding-top:12rem'>
        <div class="container">
          <div class="row">
              <div class="col-12 col-md-8 order-md-1">
              
                  {# Image #}
                  <img src="assets/img/IMG_0589.jpg" alt="..." class="img-fluid mb-5" style='border-radius:.625rem'>
      
                  
                  
                  </div>
      
            <div class="col-12 col-md-4 order-md-2">
              
              {# Preheading #}
              <p class="font-weight-medium text-xs text-uppercase text-primary">
                Micronutrition <i class="fas fa-angle-right" style='color:#543A26'></i> Antioxydants
              </p>
  
              {# Heading #}
              <h3 class="mb-3">
                  Acide Alpha Lipoïque Forme R
              </h3>

              {# Price #}
              <h5 class="mb-3 text-muted">
                  € 15,13
              </h5>
  
              {# Text #}
              <p class="mb-3 text-muted">
                  Il joue un rôle clé dans la production de l’énergie dont l’organisme a besoin pour bien fonctionner.
              </p>
  
              {# Form #}
              <form class="mb-5 mb-md-0">
                <div class="form-row">
                  <div class="col-12">
                    
                    <label>
                      En un coup d'oeil:
                    </label>
  
                  </div>
                </div>
                <div class="form-row mb-4">
                  <div class="col-6">
                    
                    {# Size #}
                    <div class="extended-radio">
                      <label class="extended-radio-label text-xs d-block">
                        Gélule huileuse
                      </label>
                    </div>
  
                  </div>
                  <div class="col-6">
                    
                    {# Size #}
                    <div class="extended-radio">
                      <label class="extended-radio-label text-xs d-block">
                        1 à 2 gélules par jour
                      </label>
                    </div>
  
                  </div>
                  <div class="col-6">
                    
                    {# Size #}
                    <div class="extended-radio">
                      <label class="extended-radio-label text-xs d-block">
                        60 gélules
                      </label>
                    </div>
  
                  </div>
                  <div class="col-6">
                    
                    {# Size #}
                    <div class="extended-radio">
                      <label class="extended-radio-label text-xs d-block">
                        Aucun allergènes
                      </label>
                    </div>
  
                  </div>
                 
                </div>
                <div class="form-row">
                  <div class="col-6 col-lg-6 detail-option mb-0" style='margin:auto'>

                      <input name="items" type="number" value="1" class="form-control detail-quantity">
                  </div>
                  <div class="col-12">
                  
                    {# Button #}
                    <button class="btn btn-outline-primary btn-block mt-3" style='border-radius: 3.125rem !important;'>
                      Ajouter au panier
                    </button>
                  
                  </div>
                </div>
              </form>
  
            </div>
            
          </div> {# / .row #}
          <div class="row">
              <div class="col-12 col-md-8">

                  {# Nav #}
                  <nav class="nav nav-tabs mb-5">
                    <a href="#itemDescription" class="nav-item nav-link active" data-toggle="tab">
                      Description
                    </a>
                    <a href="#itemComposition" class="nav-item nav-link" data-toggle="tab">
                      Composition
                    </a>
                    <a href="#itemPreparation" class="nav-item nav-link" data-toggle="tab">
                      Préparation
                    </a>
                  </nav>
      
                  {# Content #}
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="itemDescription">
                      
                      <p class="text-sm">
                          La forme R de l'acide alpha lipoïque est la forme naturelle et biologiquement active que l'on trouve dans les organismes vivants.
                      </p>
      
                      <p class="text-sm">
                          Les études récentes montrent que c'est cette forme naturelle qui a une meilleure efficacité physiologique, avec un taux de concentration plasmatique 2 fois plus élevé  qu'avec la forme S synthétique ainsi qu'une meilleure pénétration cellulaire et une utilisation tissulaire bien supérieure.
                      </p>
      
                      <p class="mb-0 text-sm">
                          L'acide R alpha lipoïque, de par son influence directe sur le métabolisme et l'utilisation de l'insuline, aurait une action directe sur la glycation donc sur le diabète.
                      </p>
    
                      <p class="text-sm">
                          Il augmente ou maintient les niveaux des autres antioxydants notamment les vitamines C, E, le coenzyme Q10 et le glutathion.
                      </p>
      
                      <p class="text-sm">
                          Il augmente les activités antioxydantes cellulaires et mitochondriales et prévient la dégradation des mitochondries.
                      </p>
      
                      <p class="mb-0 text-sm">
                          C'est un acteur clé de la protection contre les radicaux libres.
                      </p>
    
                      <p class="mb-0 text-sm">
                          Il est capable de neutraliser l'oxygène singulet, responsable de dommages des cellules des êtres vivants.
                      </p>
      
                    </div>
                    <div class="tab-pane fade" id="itemComposition">
                      
                      <p class="text-sm">
                          Acide alpha lipoïque (forme R), magnésium stéarate, talc.
                      </p>
      
                      <p class="text-sm">
                          Tunique: gélifiant pullulan.
                      </p>
      
                      <p class="mb-0 text-sm">
                          Le pullulan est un polysaccharide issu de la fermentation naturelle de l’amidon de tapioca ou de maïs.
                      </p>
    
                      <p class="text-sm">
                          Une portion journalière (2 gél.) fournit <strong>400 mg</strong> d'acide alpha lipoïque.
                      </p>
    
                      <p class="text-sm">
                          Poids net: 17,2 g
                      </p>
      
                    </div>
                    <div class="tab-pane fade" id="itemPreparation">
                      
                        <p class="text-sm">
                            <strong>Conseil d'utilisation:</strong>
                        </p>
        
                        <p class="text-sm">
                            Prendre 1 à 2 gélules par jour ou selon avis médical, au cours du repas avec un grand verre d'eau.
                        </p>
        
                        <p class="mb-0 text-sm">
                            Ne pas dépasser la dose journalière indiquée sauf avis médical.
                        </p>
        
                      </div>
                    
                      
                    </div>
                  </div>
      
                </div>
          </div>
        </div> {# / .container #}
      </section>
  
      {# FEATURED
      ================================================== #}
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-12">
              
              {# Heading #}
              <h3 class="mb-5">
                  Autres produits dans la même catégorie :
              </h3>
  
            </div>
          </div> {# / .row #}
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              
              {# Item #}
              <div class="position-relative">
  
                {# Card #}
                <a class="card border-0 mb-3 mb-md-0" href="shop-item.html">
                  
                  {# Image #}
                  <img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
                  
                  {# Body #}
                  <div class="card-body">
  
                    <div class="row align-items-center mb-3">
                      <div class="col">
  
                        {# Heading #}
                        <h4 class="card-title mb-0">
                            Acide Alpha Lipoïque Forme R
                        </h4>
                        
                      </div>
                      <div class="col-auto">
                        
                        <p class="mb-0 text-sm text-muted">
                            € 15,13
                        </p>
  
                      </div>
                    </div> {# / .row #}
  
                    {# Text #}
                    <p class="mb-0 text-sm text-muted">
                        Il joue un rôle clé dans la production de l’énergie dont l’organisme a besoin pour bien fonctionner.
                    </p>
                    
                  </div>
  
                </a>
  
                {# Button #}
                <button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
                  <i class="fas fa-plus"></i>
                </button>
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              
              {# Item #}
              <div class="position-relative">
  
                {# Card #}
                <a class="card border-0 mb-3 mb-md-0" href="shop-item.html">
                  
                  {# Image #}
                  <img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
                  
                  {# Body #}
                  <div class="card-body">
  
                    <div class="row align-items-center mb-3">
                      <div class="col">
  
                        {# Heading #}
                        <h4 class="card-title mb-0">
                            Acide Alpha Lipoïque Forme R
                        </h4>
                        
                      </div>
                      <div class="col-auto">
                        
                        <p class="mb-0 text-sm text-muted">
                            € 15,13
                        </p>
  
                      </div>
                    </div> {# / .row #}
  
                    {# Text #}
                    <p class="mb-0 text-sm text-muted">
                        Il joue un rôle clé dans la production de l’énergie dont l’organisme a besoin pour bien fonctionner.
                    </p>
                    
                  </div>
  
                </a>
  
                {# Button #}
                <button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
                  <i class="fas fa-plus"></i>
                </button>
  
              </div>
  
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              
              {# Item #}
              <div class="position-relative">
  
                {# Card #}
                <a class="card border-0 mb-0" href="shop-item.html">
                  
                  {# Image #}
                  <img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
                  
                  {# Body #}
                  <div class="card-body">
  
                    <div class="row align-items-center mb-3">
                      <div class="col">
  
                        {# Heading #}
                        <h4 class="card-title mb-0">
                            Acide Alpha Lipoïque Forme R
                        </h4>
                        
                      </div>
                      <div class="col-auto">
                        
                        <p class="mb-0 text-sm text-muted">
                            € 15,13
                        </p>
  
                      </div>
                    </div> {# / .row #}
  
                    {# Text #}
                    <p class="mb-0 text-sm text-muted">
                        Il joue un rôle clé dans la production de l’énergie dont l’organisme a besoin pour bien fonctionner.
                    </p>
                    
                  </div>
  
                </a>
  
                {# Button #}
                <button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
                  <i class="fas fa-plus"></i>
                </button>
  
              </div>
  
            </div>         
          </div> {# / .row #}
        </div> {# / .container #}
      </section>

{% endblock %}
