{% extends 'base.html.twig' %}

{% block title %}Le comptoir{% endblock %}


{% block body %}
 {# HEADER
    ================================================== #}
    <section class="section pb-12" style='padding-bottom: 12rem;'>

      {# Content #}
      <div class="container">
        <div class="row">
          <div class="col">
            
            {# Header #}
            <div class="bg-cover" style="background-image: url(assets/img/magasin.jpg);min-height: 250px;background-repeat: no-repeat;background-size: cover;"></div>

          </div>
        </div> {# / .row #}
      </div> {# / .container #}

    </section>
{# ABOUT
    ================================================== #}
    <section class="section pb-0">

      <div class="container">
        <div class="row">
          <div class="col-md-2">
            
            {# Title #}
            <h6 class="title">
              Qui sommes nous ?
            </h6>

          </div>
          <div class="col-md-5">
            
            {# Heading #}
            <h3 class="mb-4">
              We help people find healthy products at a <span class="text-primary">reasonable</span> price
            </h3>

            {# Content #}
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos excepturi, eveniet, accusamus magnam unde mollitia facere similique corrupti veniam odit.
              </p>
            </blockquote>
        
          </div>
          <div class="col-md-5">
            
            {# Content #}
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vero corrupti voluptates, aperiam est asperiores, ea odio, maxime eos corporis ut magni.
            </p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolor debitis soluta, excepturi, laboriosam dolorum non, beatae veniam ipsa eum ad quia expedita minus explicabo placeat itaque voluptate, quos culpa!
            </p>
        
          </div>
        </div> {# / .row #}
      </div> {# / .container #}

		</section>
           {# BRANDS
    ================================================== #}
    <section class="section">

      {# Content #}
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            
            {# Title #}
            <h6 class="title">
              Nos marques
            </h6>

          </div>
          <div class="col-md-10">

            {# Heading #}
            <h3 class="mb-4">
              Nous sommes fières de travailler avec les marques ci-dessous!
            </h3>

            {# Subheading #}
            <p class="text-muted mb-5">
              A partir de 2005, son expert en micronutrition a permis une validation scientifique et innovante de la gamme EUROFORM.

Il participe également à l’élaboration des allégations thérapeutiques et permet une évaluation clinique et biologique des effets des compléments alimentaires EUROFORM.
            </p>
            
            {# Brands #}
            <div class="form-row align-items-center">
              <div class="col-6 col-md">
                
                {# Item #}
                <a href="#" class="brand-item mb-3 mb-md-0">
                  <img src="assets/img/100.png" alt="..." >
                </a>

              </div>
              <div class="col-6 col-md">
                
                {# Item #}
                <a href="#" class="brand-item mb-3 mb-md-0">
                  <i class="fab fa-cpanel"></i>
                </a>

              </div>
              <div class="col-6 col-md">
                
                {# Item #}
                <a href="#" class="brand-item mb-3 mb-md-0">
                  <i class="fab fa-hooli"></i>
                </a>

              </div>
              <div class="col-6 col-md">
                
                {# Item #}
                <a href="#" class="brand-item mb-3 mb-md-0">
                  <i class="fab fa-ember"></i>
                </a>

              </div>
              <div class="col-6 col-md">
                
                {# Item #}
                <a href="#" class="brand-item">
                  <i class="fab fa-stripe"></i>
                </a>

              </div>
            </div> {# / .row #}

          </div>
        </div> {# / .row #}
      </div> {# / .container #}
      
    </section>
          <div class="col-md-2">
            
            {# Title #}
            <h6 class="title">
              Nos points forts
            </h6>

          </div>
          <div class="col-md-5">
            
            {# Heading #}
            <h3 class="mb-4">
              We help people find great products at a <span class="text-primary">reasonable</span> price
            </h3>

            {# Content #}
            <blockquote class="blockquote">
              <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos excepturi, eveniet, accusamus magnam unde mollitia facere similique corrupti veniam odit.
              </p>
            </blockquote>
        
          </div>
          <div class="col-md-5">
            
            {# Content #}
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vero corrupti voluptates, aperiam est asperiores, ea odio, maxime eos corporis ut magni.
            </p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit dolor debitis soluta, excepturi, laboriosam dolorum non, beatae veniam ipsa eum ad quia expedita minus explicabo placeat itaque voluptate, quos culpa!
            </p>
        
          </div>
        </div> {# / .row #}
      </div> {# / .container #}

		</section>


	

	

    
{% endblock %}