{% extends 'base.html.twig' %}

{% block title %}Le comptoir de la santé {% endblock %}


{% block body %}
	

{# HERO
    ================================================== #}
    <section class="overflow-hidden mt-9" >
				<div class="container">
						
					<div class="row">
							<div class="col-12 col-md-6 col-xl-5 order-md-1 section pb-md-0 pb-xl-5">
							
									{# Preheading #}
									<p class="font-weight-medium text-xs text-uppercase text-primary" >
										Par le comptoir de la santé
									</p>
			
									{# Heading #}
									<h1 class="mb-4" >
											Tout comme l'esprit, le corps ne doit pas être laissé à l’abandon.
									</h1>
			
									{# Subheading #}
									<p class="mb-5 text-muted" >
											 Au comptoir de la santé, nous ne cherchons pas à remplacer votre alimentation courante mais à la compléter. Autrement dit lui apporter les vitamines, minéraux et autres principes actifs nécessaires.
									</p>
									
									{# Button #}
									<a href="#!" class="btn btn-outline-primary" style='border-radius: 3.125rem !important;'>
											Nos compléments <i class="fas fa-arrow-right ml-2"></i>
										</a>
				
								
								</div>
						<div class="col-12 col-md-6 offset-xl-1 order-md-2 section pt-0 pb-xl-0">
	
						
							
							{# Image #}
							<div class="img-half">
								<img src="assets/img/comptoir1.jpeg" alt="..." class="img-cover img-incline-left">
							</div>
	
						</div>
						
					</div> {# / .row #}
				</div> {# / .container #}
			</section>
			{# FEATURED
			================================================== #}
			<section class="section pt-5" id='promo'>
			
					{# Content #}
					<div class="container">
							<div class="row justify-content-center">
									<div class="col-md-5 col-lg-5" >
										<div class="text-center mb-4">
												<img src="assets/img/comptoir-logo.png" alt="..." class="card-img " style='width:10%;margin:auto'>
										</div>
										
										{# Heading #}
										<h2 class="text-center mb-4" style='color:#305926'>
												Nos promotions
											</h2>
											<p class="text-muted text-center mb-5" >
													Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quod earum expedita molestias.
											</p>
					
									</div>
							</div> {# / .row #}
						<div class="row align-items-top">
								
							<div class="col-12 col-md-8">
								
								{# Slider #}
								<div class="slider">
									<div class="slider-item col-12 col-md-10 col-lg-6">
										
										{# Item #}
										<div class="position-relative">
		
											{# Card #}
											<a class="card border-0" href="shop-item.html">
												
												{# Image #}
												<img src="assets/img/IMG_0589.jpg" alt="..." class="card-img" style='height:242px'>
												
												{# Body #}
												<div class="card-body">
		
													<div class="row align-items-center mb-3">
														<div class="col">
		
															{# Heading #}
															<h4 class="card-title mb-0">
															Granamed
															</h4>
															
														</div>
														<div class="col-auto">
															
															<p class="mb-0 text-sm text-muted">
																	€ 42,00
															</p>
		
														</div>
													</div> {# / .row #}
		
													{# Text #}
													<p class="mb-0 text-sm text-muted">
															L'acide alpha lipoïque forme R augmente ou maintient les niveaux des autres antioxydants notamment les vitamines C, E, le coenzyme Q10 et le glutathion.
													</p>
													
												</div>
		
											</a>
		
											{# Button #}
											<button class="btn btn-sm btn-circle btn-primary card-add">
												<i class="fas fa-plus"></i>
											</button>
		
										</div>
										
									</div>
									
									<div class="slider-item col-12 col-md-10 col-lg-6">
		
										{# Item #}
										<div class="position-relative">
		
											{# Card #}
											<a class="card border-0" href="shop-item.html">
												
												{# Image #}
												<img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
												
												{# Body #}
												<div class="card-body">
		
													<div class="row align-items-center mb-3">
														<div class="col">
		
															{# Heading #}
															<h4 class="card-title mb-0">
																	Acide alpha lipoïque forme R
															</h4>
															
														</div>
														<div class="col-auto">
															
															<p class="mb-0 text-sm text-muted">
																	€ 15,13
															</p>
		
														</div>
													</div> {# / .row #}
		
													{# Text #}
													<p class="mb-0 text-sm text-muted">
															L'acide alpha lipoïque forme R augmente ou maintient les niveaux des autres antioxydants notamment les vitamines C, E, le coenzyme Q10 et le glutathion.
													</p>
													
												</div>
		
											</a>
		
											{# Button #}
											<button class="btn btn-sm btn-circle btn-primary card-add">
												<i class="fas fa-plus"></i>
											</button>
		
										</div>
										
									</div>
									<div class="slider-item col-12 col-md-10 col-lg-6">
		
										{# Item #}
										<div class="position-relative">
		
											{# Card #}
											<a class="card border-0" href="shop-item.html">
												
												{# Image #}
												<img src="assets/img/comptoir2.jpeg" alt="..." class="card-img">
												
												{# Body #}
												<div class="card-body">
		
													<div class="row align-items-center mb-3">
														<div class="col">
		
															{# Heading #}
															<h4 class="card-title mb-0">
																	Glycemaxo
															</h4>
															
														</div>
														<div class="col-auto">
															
															<p class="mb-0 text-sm text-muted">
																	€ 20,60 
															</p>
		
														</div>
													</div> {# / .row #}
		
													{# Text #}
													<p class="mb-0 text-sm text-muted">
															Glycemaxo est un complément alimentaire micronutritionnel pour réguler la glycémie et l'hémoglobine glycosylée.
													</p>
													
												</div>
		
											</a>
		
											{# Button #}
											<button class="btn btn-sm btn-circle btn-primary card-add">
												<i class="fas fa-plus"></i>
											</button>
		
										</div>
										
									</div>
									
								</div>
								
							</div>
							<div class="col-12 col-md-4">
										
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quod earum expedita molestias.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quod earum expedita molestias.
									</p>
									{# Button #}
									<a href="#!" class="btn btn-outline-primary mb-5 mb-md-0" style='border-radius: 3.125rem !important;'>
										Toutes les promotions <i class="fas fa-arrow-right ml-2"></i>
									</a>
			
								</div>
						</div> {# / .row #}
					</div> {# / .container #}
		
				</section>
	
			{# ITEMS
			================================================== #}
			<section class="section pt-5" id='new' style='background-color:#fafafa'>
					<div class="container">
						<div class="row justify-content-center">
								<div class="col-md-5 col-lg-5" >
									<div class="text-center mb-4">
											<img src="assets/img/comptoir-logo.png" alt="..." class="card-img " style='width:10%;margin:auto'>
									</div>
									
									{# Heading #}
									<h1 class="text-center mb-4" style='color:#305926'>
										Nouveautés
									</h1>
			
									{# Subheading #}
									<p class="text-muted text-center mb-5" >
											Nos éventail de produit s'agrandit de jour en jour, nous vous invitons à revenir consulter nos nouveautés.
									</p>
			
								</div>
						</div> {# / .row #}
						<div class="row">
							<div class="col-12 col-md-6 col-lg-4">
								
								{# Item #}
								<div class="position-relative">
		
									{# Card #}
									<a class="card border-0 mb-3" href="{{path('produit')}}">
										
										{# Image #}
										<img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
										
										{# Body #}
										<div class="card-body">
		
											<div class="row align-items-center mb-3">
												<div class="col">
		
													{# Heading #}
													<h4 class="card-title mb-0">
															Glycemaxo
													</h4>
													
												</div>
												<div class="col-auto">
													
													<p class="mb-0 text-sm text-muted">
															€ 20,60 
													</p>
		
												</div>
											</div> {# / .row #}
		
											{# Text #}
											<p class="mb-0 text-sm text-muted">
													Glycemaxo est un complément alimentaire micronutritionnel pour réguler la glycémie et l'hémoglobine glycosylée.
											</p>
											
										</div>
		
									</a>
		
									{# Button #}
									<button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
										<i class="fas fa-plus"></i>
									</button>
		
								</div>
		
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								
								{# Item #}
								<div class="position-relative">
		
									{# Card #}
									<a class="card border-0 mb-3" href="{{path('produit')}}">
										
										{# Image #}
										<img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
										
										{# Body #}
										<div class="card-body">
		
											<div class="row align-items-center mb-3">
												<div class="col">
		
													{# Heading #}
													<h4 class="card-title mb-0">
															Acide alpha lipoïque forme R
													</h4>
													
												</div>
												<div class="col-auto">
													
													<p class="mb-0 text-sm text-muted">
															€ 15,13
													</p>
		
												</div>
											</div> {# / .row #}
		
											{# Text #}
											<p class="mb-0 text-sm text-muted">
													L'acide alpha lipoïque forme R augmente ou maintient les niveaux des autres antioxydants notamment les vitamines C, E, le coenzyme Q10 et le glutathion.
											</p>
											
										</div>
		
									</a>
		
									{# Button #}
									<button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
										<i class="fas fa-plus"></i>
									</button>
		
								</div>
		
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								
								{# Item #}
								<div class="position-relative">
		
									{# Card #}
									<a class="card border-0 mb-3" href="shop-item.html">
										
										{# Image #}
										<img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
										
										{# Body #}
										<div class="card-body">
		
											<div class="row align-items-center mb-3">
												<div class="col">
		
													{# Heading #}
													<h4 class="card-title mb-0">
															Creme dessert vanille
													</h4>
													
												</div>
												<div class="col-auto">
													
													<p class="mb-0 text-sm text-muted">
															€ 5,80 
													</p>
		
												</div>
											</div> {# / .row #}
		
											{# Text #}
											<p class="mb-0 text-sm text-muted">
													En-cas hyperprotidique et hypocalorique appauvri en lipides et glucides dont la valeur énergétique est de 100kcal par unité, avec édulcorants.
											</p>
											
										</div>
		
									</a>
		
									{# Button #}
									<button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
										<i class="fas fa-plus"></i>
									</button>
		
								</div>
		
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								
								{# Item #}
								<div class="position-relative">
		
									{# Card #}
									<a class="card border-0 mb-3" href="shop-item.html">
										
										{# Image #}
										<img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
										
										{# Body #}
										<div class="card-body">
		
											<div class="row align-items-center mb-3">
												<div class="col">
		
													{# Heading #}
													<h4 class="card-title mb-0">
															Saucisson
													</h4>
													
												</div>
												<div class="col-auto">
													
													<p class="mb-0 text-sm text-muted">
															€ 2,15 
													</p>
		
												</div>
											</div> {# / .row #}
		
											{# Text #}
											<p class="mb-0 text-sm text-muted">
													Spécialité de saucisson de jambon, enrichi en protéines, réduit en matières grasses.
											</p>
											
										</div>
		
									</a>
		
									{# Button #}
									<button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
										<i class="fas fa-plus"></i>
									</button>
		
								</div>
		
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								
								{# Item #}
								<div class="position-relative">
		
									{# Card #}
									<a class="card border-0 mb-3" href="shop-item.html">
										
										{# Image #}
										<img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
										
										{# Body #}
										<div class="card-body">
		
											<div class="row align-items-center mb-3">
												<div class="col">
		
													{# Heading #}
													<h4 class="card-title mb-0">
															Axobrik framboise
													</h4>
													
												</div>
												<div class="col-auto">
													
													<p class="mb-0 text-sm text-muted">
															€ 1,95 
													</p>
		
												</div>
											</div> {# / .row #}
		
											{# Text #}
											<p class="mb-0 text-sm text-muted">
													Boisson UHT façon smoothie saveur framboise. Préparation diététique hyperprotidique, en-cas hypocalorique appauvri en glucides et en lipides dont la valeur énergétique est de 93kcal. Avec édulcorants, faible teneur en sucres.
											</p>
											
										</div>
		
									</a>
		
									{# Button #}
									<button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
										<i class="fas fa-plus"></i>
									</button>
		
								</div>
		
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								
								{# Item #}
								<div class="position-relative">
		
									{# Card #}
									<a class="card border-0 mb-3" href="shop-item.html">
										
										{# Image #}
										<img src="assets/img/comptoir1.jpeg" alt="..." class="card-img">
										
										{# Body #}
										<div class="card-body">
		
											<div class="row align-items-center mb-3">
												<div class="col">
		
													{# Heading #}
													<h4 class="card-title mb-0">
															Barre fondante caramel/cacahuète
													</h4>
													
												</div>
												<div class="col-auto">
													
													<p class="mb-0 text-sm text-muted">
															€ 5,40 
													</p>
		
												</div>
											</div> {# / .row #}
		
											{# Text #}
											<p class="mb-0 text-sm text-muted">
													Barre saveur chocolat caramel cacahuète riche en protéines et fibres, avec sucre et édulcorants.
											</p>
											
										</div>
		
									</a>
		
									{# Button #}
									<button class="btn btn-sm btn-circle btn-primary card-add" data-toggle="cart" data-action="add">
										<i class="fas fa-plus"></i>
									</button>
		
								</div>
		
							</div>
						</div> {# / .row #}
					</div> {# / .container #}
				</section>
{# MAP
    ================================================== #}
    <section class="section">

			{# Content #}
			<div class="container">
			  <div class="row justify-content-center">
				<div class="col-md-8 col-lg-6">
	  
				  {# Heading #}
				  <h2 class="text-center mb-4">
					Trouvez-nous sur la carte!
				  </h2>
	  
				 
				</div>
			  </div> {# / .row #}
			  <div class="row">
				<div class="col-12">
	  
				  {# Map #}
				  <div class="map">
					<div class="map-container" data-markers="[[34.0872254,-118.4046315]]" data-zoom="8"></div>
				  </div>
				  
				</div>
			  </div> {# / .row #}
			</div> {# / .container #}
	  
		  </section>





	

    
{% endblock %}