{% extends 'base.html.twig' %}

{% block title %}Moreno Architecture{% endblock %}


{% block body %}

	<!-- INFO
	================================================== -->
	<section class="section section_info section_no-padding_top section_no-padding_bottom img-fluid" >
			<div >
				<div class="row align-items-justify">
						
					<div class="col-md-8 section_gallery__grid__item" style='margin-top:30px' >						
						<a href="{{path('project')}}" >
							<img src="assets/img/14081_II_141016_1007_NW_0000.jpg" class='img-fluid' alt="..." >
						</a>
					</div>
						
					
					<div class="col-md-1"></div>
					<div class="col-md-2 section_gallery__grid__item" style='margin-top:70px' >
						<a href="" >
							<img src="assets/img/one.jpg" class='img-fluid' alt="...">
						</a>
						<div class="section_info__body">
							<a href="{{path('projects')}}">
								<h1 class="section__preheading text-primary">
									Concours<span class="d-inline-block h5" style='color:#E2DCCB'>&xrarr;</span>
								</h1>
							</a>
							<p class="section__subheading" style='margin-bottom:0px'>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit accusamus corporis nam eveniet, saepe, ipsum nostrum fugit, iste commodi expedita totam optio velit excepturi nemo, repellat doloribus laudantium repudiandae labore!
								</p>
						</div>					
					</div>
					<div class="col-md-1"></div>
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</section>
	

	<!-- HERO
    ================================================== -->
    <section class="section section-top section-full " data-parallax="scroll"  style='background-image:url(assets/img/scandinavie.jpg);min-height:450px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;'>

		<!-- Overlay -->
		<div class="bg-overlay"></div>

		<!-- Content -->
		<div class="container">
		  <div class="row justify-content-center align-items-center">
			<div class="col-md-8 col-lg-7">
  
			
  
  
			</div>
		  </div> <!-- / .row -->
		</div> <!-- / .container -->
  
		</section>
	</br>
	  <!-- INFO
	================================================== -->
	<section class="section section_info section_info_opposite section_no-padding_top section_no-padding_bottom">
			<div >
				<div class="row align-items-justify">
						<div class="col-md-1 order-md-1"></div>
					<div class="col-md-6 order-md-3 section_gallery__grid__item">
						
						
							<a href="" >
								<img src="assets/img/DSC_5327.jpg" class='img-fluid' alt="...">
							</a>
						</br>
						
							
						<a href="" >
								<img src="assets/img/PLAN_MASSE_OCOBRE_2014_low.jpg" class='img-fluid' alt="...">
							</a>
						
	
					</div>
					<div class="col-md-1 order-md-2"></div>
					<div class="col-md-4 order-md-1 section_gallery__grid__item" >
	
							<div class="section_info__body" style='padding:4rem!important'>
									<h3 class="section__preheading text-primary">
										Privé<span class="d-inline-block h5" style='color:#E2DCCB'>&xrarr;</span>
									</h3>
									<p class="section__subheading" style='margin-bottom:0px'>
											Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit accusamus corporis nam eveniet, saepe, ipsum nostrum fugit, iste commodi expedita totam optio velit excepturi nemo, repellat doloribus laudantium repudiandae labore!
										</p>
								</div>
								<a href="" >
										<img src="assets/img/DSC_5300.jpg" class='img-fluid' alt="...">
									</a>
						
					</div>
					
				</div> <!-- / .row -->
			</div> <!-- / .container -->
		</section>

	<!-- INFO
	================================================== -->
	<section class="section section_info section_no-padding_top section_no-padding_bottom">
		<div class="container">
			<div class="row align-items-justify">
				<div class="col-md-6 section_gallery__grid__item">
					
					
							<a href="" >
									<img src="assets/img/eco_06_low.jpg" class='img-fluid' alt="...">
								</a>
				

				</div>
				<div class="col-md-1"></div>
				<div class="col-md-5">

						<div class="section_info__body">
							<h3 class="section__preheading text-primary">
								Urbanism<span class="d-inline-block h5" style='color:#E2DCCB'>&xrarr;</span>
							</h3>
							<p class="section__subheading" style='margin-bottom:0px'>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit accusamus corporis nam eveniet, saepe, ipsum nostrum fugit, iste commodi expedita totam optio velit excepturi nemo, repellat doloribus laudantium repudiandae labore!
								</p>
						</div>
					
				</div>
			</div> <!-- / .row -->
		</div> <!-- / .container -->
	</section>


	

	

    
{% endblock %}