{% extends 'base.html.twig' %}

{% block title %}Le comptoir de la santé {% endblock %}

      {% block body %}

      {# CART
    ================================================== #}
    <section class="section mt-7" id='parallax'>
            
      <div class="bg-overlay"></div>
      {# Content #}
      <div class="container">
            <div class="row justify-content-center">
            
            <div class="col-lg-8 col-md-6 p-4 m-4" style='background-color:#fafafa;border-radius:.625rem'>
            
            {# Heading #}
            <h3 class="mb-4">
                  Inscription
            </h3>

            {# Subheading #}
            <p class="text-muted mb-5">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur iusto optio cum maiores aliquid ipsa consectetur.
            </p>

            {# Form #}
            <form>

                  {# Inputs #}
                  <div class="form-group ">
                  <label>
                  Prénom
                  </label>
                  <input type="text" class="form-control bg-white" required>
                  </div>
                  <div class="form-group">
                  <label>
                  Nom
                  </label>
                  <input type="text" class="form-control bg-white" required>
                  </div>
                  <div class="form-group">
                  <label>
                  Pays
                  </label>
                  <select class="custom-select bg-white">
                  <option value="1">
                        Luxembourg
                  </option>
                  <option value="2">
                        Belgium
                  </option>
                  <option value="3">
                        Canada
                  </option>
                  <option value="4">
                        Denmark
                  </option>
                  <option value="5">
                        England
                  </option>
                  <option value="6">
                        Finland
                  </option>
                  <option value="7">
                        Germany
                  </option>
                  <option value="8">
                        Hungary
                  </option>
                  <option value="9">
                        Iceland
                  </option>
                  <option value="10">
                        Japan
                  </option>
                  </select>
                  </div>
                  <div class='row'>
                  <div class='col-6'>
                        <div class="form-group mb-5">
                              <label>
                              Rue
                              </label>
                              <input type="text" class="form-control bg-white" required>
                        </div>
                  </div>
                  <div class='col-6'>
                        <div class="form-group mb-5">
                              <label>
                              Numéro
                              </label>
                              <input type="text" class="form-control bg-white" required>
                        </div>
                  </div>
                        
                  </div>
                  
                  <button class="btn btn-lg btn-block btn-primary" role="button" type="submit" style='border-radius:.625rem!important'>
                              Enregistrer les informations
                        </button>

            </form>

            </div>
      </div>
</section>

      {% endblock %}