{% extends 'base.html.twig' %}



    {% block body %}

    <!-- NAVBAR
    ================================================== -->
    <nav class="navbar navbar-light navbar-expand-lg fixed-top">
        <div class="container">
    
          <!-- Navbar: Brand -->
          <a class="navbar-brand d-lg-none" href="index.html" >Giallo</a>
    
          <!-- Navbar: Toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <!-- Navbar: Collapse -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
          
            <!-- Navbar: Brand -->
            <a class="navbar-brand d-none d-lg-flex justify-content-center" href="{{path('index')}}" >
              Giallo Caffè
            </a>
            <ul class="navbar-nav mr-auto"></ul>
          
    
          </div> <!-- / .navbar-collapse -->
    
        </div> <!-- / .container -->
      </nav> <!-- / .navbar -->
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    {# HERO
    ================================================== #}
    <section class="section section_welcome" data-parallax="scroll" style='background-image:url(assets/img/landing1.jpg);height: 450px;background-attachment: fixed;background-position: center;background-repeat: no-repeat;background-size: cover;'>
      {# style='background-image:url("../images/1.jpg");-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;' #}
      {# Overlay #}
      <div class="bg-overlay" ></div>

      {# Triangles #}
      {# <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right"></div> #}

      {# Content #}
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8 col-lg-7" >

            {# Preheading #}


           

          </div>
        </div> {# / .row #}
      </div> {# / .container #}

    </section>

    <section class="section section-full section-top bg-light" style='background-color:white!important'>

      <!-- Content -->
      <div class="container">
        <div class="row justify-content-center" >
         
          <div class="col-md-8 col-lg-6" style='margin-top:-25%;'>
           

            <!-- Form -->
            <form class="form-styled bg-white" action="{{ path('login') }}" method='post' style='border-radius:0.5rem'>

              {# Heading #}
            <h1 class="text-center mb-4" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load" style='letter-spacing: 0.1em;color:#debc85'>
              Welcome back
            </h1>

              <!-- Heading -->
              <h4 class="text-center mb-4" style='letter-spacing: 0.1em;margin-top:50px'>
                Login
              </h4>

              <!-- Subheading -->
              <p class="text-center text-muted mb-5">
                Please fill out the form below to sign in to your account.
              </p>

              <!-- Email -->
              <div class="form-group">
                
                <!-- Email -->
                <label style="font-size:12px">Email address</label>
                <div class="input-group">
                  <input type="text" name="_username" value="{{ last_username }}" class="form-control order-1">
                  <div class="input-group-append order-0">
                    <div class="input-group-text">
                      <svg class="input-group-icon icon-offset icon icon-envelope" viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path transform="translate(3 3)" d="
                          M0 30 V 10 H 100 V 90 H 0 V 30 L 50 60 L 100 30">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Password -->
              <div class="form-group">
                
                <!-- Name -->
                <label style="font-size:12px">Password</label>
                <div class="input-group">
                  <input type="password" name="_password" class="form-control order-1">
                  <div class="input-group-append order-0">
                    <div class="input-group-text">
                      <svg class="input-group-icon icon-offset icon icon-lock" viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path transform="translate(3 3)" d="
                          M25 50 V 20 A 25 25 0 0 1 50 0 A 25 25 0 0 1 75 20 V 50 H 90 V 100 H 10 V 50 H 75 M50 85 A 5 5 0 0 1 45 80 V 70 A 5 5 0 0 1 50 65 A 5 5 0 0 1 55 70 V 80 A 5 5 0 0 1 50 85">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>

              </div>

              <!-- Footer -->
              <div class="form-row align-items-center">
                <div class="col-md-auto">

                  <!-- Checkbox -->
                  <div class="custom-control custom-checkbox mb-3 mb-md-0">
                    {# <input type="checkbox" class="custom-control-input" id="sign-in-checkbox">
                    <label class="custom-control-label" for="sign-in-checkbox">
                      Remember me
                    </label> #}
                  </div>

                </div>
                <div class="col-md">

                  <!-- Button -->
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="color:#353A40;letter-spacing: 0.1em">
                      Sign in now
                    </button>
                  </div>

                </div>
              </div> <!-- / .form-row -->

              <!-- Link -->
              <p class="text-center text-muted mt-5 mb-0">
                <small>
                  Any issue? <a href="mailto:steveumuhire@gmail.com">Contact an administrator</a>.
                </small>
              </p>

            </form>
            
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
      
    </section>
{% endblock %}



 