{% extends 'base.html.twig' %}

{% block title %}Le comptoir de la santé{% endblock %}

{% block body %}
 {# HERO
    ================================================== #}
    <section>
            <div class="container section section-top pb-0" style='padding-top:11rem'>
              <div class="row align-items-center">
                <div class="col-12 col-md-6 offset-xl-1 order-md-2">
                  
                  {# Image #}
                  <img src="assets/img/huiles.jpg" alt="..." class="img-fluid img-incline-left mb-5 mb-md-0">
      
                </div>
                <div class="col-12 col-md-6 col-xl-5 order-md-1">
                    
                    <p class="font-weight-medium text-xs text-uppercase text-primary">
                            A propos <i class="fas fa-angle-right" style='color:#543A26'></i> Dossiers
                    </p>
                  
                  {# Meta #}
                  <div class="row align-items-center no-gutters mb-4">
                    
                    <div class="col-auto">
                      
                      <div class="avatar mr-3">
                        <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                      </div>
      
                    </div>
                    <div class="col">
                      
                        <p class="mb-0 text-xs text-muted">
                            par <strong class="text-body">Dr Bertrand Kimmel</strong> 2 hours ago
                        </p>
      
                    </div>
                  </div> {# / .row #}
                  
                  {# Heading #}
                  <h1 class="mb-4 font-weight-bold">
                    Les huiles de poissons de qualité EPAX
                  </h1>
      
                  {# Text #}
                  <p class="mb-5 text-muted">
                        La nouvelle génération d’acides gras oméga 3 : pureté, qualité et innovation.
                  </p>
      
                  {# Button #}
                  <a href="{{path('dossier')}}" class="btn btn-outline-primary" style='border-radius: 3.125rem !important;'>
                    lire plus <i class="fas fa-arrow-right ml-2"></i>
                  </a>
      
                </div>
              </div> {# / .row #}
            </div> {# / .container #}
          </section>
      
          {# FEATURED
          ================================================== #}
          <section>
            <div class="container section pb-6" style='padding-top:2rem'>
              <div class="row align-items-stretch">
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                  
                  <a class="card h-100" href="blog-post.html">
                    <div class="card-body">
      
                      {# Meta #}
                      <div class="row align-items-center no-gutters mb-4">
                        <div class="col-auto">
                          
                          <div class="avatar mr-3">
                            <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                          </div>
      
                        </div>
                        <div class="col">
                          
                          <p class="mb-0 text-xs text-muted">
                            par <strong class="text-body">Dr Bertrand Kimmel</strong> 5 hours ago
                          </p>
      
                        </div>
                      </div> {# / .row #}
                      
                      {# Heading #}
                      <h4>
                        Comment lutter efficacement et naturellement contre les poux.
                      </h4>
      
                      {# Text #}
                      <p class="mb-0 text-sm text-muted">
                       Voici nos solutions naturelles!
                      </p>
      
                    </div>
                  </a>
      
                </div>
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                  
                  <a class="card h-100" href="blog-post.html">
                    <div class="card-body">
      
                      {# Meta #}
                      <div class="row align-items-center no-gutters mb-4">
                        <div class="col-auto">
                          
                          <div class="avatar mr-3">
                            <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                          </div>
      
                        </div>
                        <div class="col">
                          
                          <p class="mb-0 text-xs text-muted">
                            par <strong class="text-body">Dr Bertrand Kimmel</strong> 1 day ago
                          </p>
      
                        </div>
                      </div> {# / .row #}
                      
                      {# Heading #}
                      <h4>
                        Les bienfaits des plantes
                      </h4>
      
                      {# Text #}
                      <p class="mb-0 text-sm text-muted">
                            Les plantes médicinales sont utilisées depuis des millénaires et particulièrement dans certaines médecines traditionnelles comme les médecines chinoise ou indienne.
                      </p>
      
                    </div>
                  </a>
      
                </div>
                <div class="col-12 col-lg-4">
                  
                  <a class="card h-100" href="blog-post.html">
                    <div class="card-body">
      
                      {# Meta #}
                      <div class="row align-items-center no-gutters mb-4">
                        <div class="col-auto">
                          
                          <div class="avatar mr-3">
                            <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                          </div>
      
                        </div>
                        <div class="col">
                          
                          <p class="mb-0 text-xs text-muted">
                            par <strong class="text-body">Dr Bertrand Kimmel</strong> 2 days ago
                          </p>
      
                        </div>
                      </div> {# / .row #}
                      
                      {# Heading #}
                      <h4>
                        Intolérances aux oeufs
                      </h4>
      
                      {# Text #}
                      <p class="mb-0 text-sm text-muted">
                            Voici comment remplacer facilement les oeufs dans vos préparations.
                      </p>
      
                    </div>
                  </a>
      
                </div>
              </div> {# / .row #}
            </div> {# / .container #}
          </section>
      
        

{% endblock %}