{% extends 'base.html.twig' %}

{% block title %}Le comptoir de la santé {% endblock %}

      {% block body %}
{# Dossier
    ================================================== #}
    <section class="section pb-0" style='padding-top:12rem'>
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
      
                  {# Meta #}
                  <div class="row align-items-center justify-content-center no-gutters mb-4">
                    <div class="col-auto">
                      
                      <div class="avatar mr-3">
                        <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                      </div>
      
                    </div>
                    <div class="col-auto">
                      
                      <p class="mb-0 text-xs text-muted">
                        Par <strong class="text-body">Dr Bertrand Kimmel</strong> 2 hours ago
                      </p>
      
                    </div>
                  </div> {# / .row #}
                  
                  {# Heading #}
                  <h1 class="mb-5 font-weight-bold text-center">
                        Les huiles de poissons de qualité EPAX
                  </h1>
                  
                </div>
              </div> {# / .row #}
              <div class="row" style='margin:auto'>
                <div class="col-12 text-center" >
                  
                  {# Image #}
                  <img src="assets/img/huiles.jpg" alt="..." class="img-fluid mb-3">
      
                  {# Caption #}
                  <p class="text-center text-sm text-muted mb-5">
                    Sint cum consectetur error mollitia at, eius illo. Deleniti, magnam.
                  </p>
      
                </div>
              </div> {# / .row #}
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
      
                  <blockquote class="blockquote">
                    <p>
                            La nouvelle génération d’acides gras oméga 3 : pureté, qualité et innovation!
                    </p>
                  </blockquote>
      
                  <p>
                        Les compléments alimentaires apportant des oméga 3, pour avoir tous les effets bénéfiques démontrés par la recherche, doivent être de qualité. Origine des matières premières, efficacité des procédés de dépollution, protection contre l’oxydation, biodisponibilité, concentration en principes actifs sont des éléments incontournables dont dépend la qualité des oméga 3.
                  </p>

                  <h5 style='color:#305926'>Une huile pure exempté de tout polluant</h5>
      
                  <p>
                        Une nouvelle technique de dépollution des huiles de poisson est utilisée dans la fabrication des produits EPAX®. Elle passe par une distillation moléculaire qui permet d’éliminer les toxines telles que les PCB, les métaux lourds (mercure, plomb), les dioxines. Cette étape de purification permet une élimination optimale des polluants.
                  </p>

                  <p>
                        Les huiles de poisson EPAX®, hautement purifiées, sont garanties en dessous des minima standards de contaminants exigés par la réglementation européenne en vigue
                  </p>

                  <h5 style='color:#305926'>Protection contre l'oxydation</h5>
      
                  <p>
                        Les huiles EPAX® sont stabilisées avec des antioxydants naturels tels que la vitamine E. Elles présentent ainsi une durée de conservation minimale de 3 ans.


                  </p>

                  <h5 style='color:#305926' style='color:#305926'>Une meilleure biodisponibilité</h5>
      
                  <p>
                        Les oméga 3 des huiles de poisson sont actuellement disponibles sous deux formes : une naturelle que l’on trouve dans les huiles de poisson, les triglycérides, et une synthétique obtenue par voie chimique, les concentrés d’esters éthyliques. La biodisponibilité de ces deux formes est très différente : les triglycérides auraient une biodisponibilité deux fois plus importante que la forme synthétique.
                  </p>

                  <p>
                        Les huiles EPAX® sont sous forme de triglycérides.
                  </p>

                  <h5 style='color:#305926'>Scientifiquement approuvées</h5>
      
                  <p>
                        Les huiles EPAX® sont les plus documentées et les plus étudiées cliniquement (plus de 100 études cliniques ont été menées à ce jour).
                  </p>
      
                  <h5 style='color:#305926'>Certifiées "Friends of the sea"</h5>
      
                  <p class="mb-0">
                        La certification «Friend of the sea» est un organisme de protection on de la biodiversité marine. 
                  </p>
      
                  {# Social #}
                  <div class="row align-items-center py-3 my-5 border-top border-bottom">
                    <div class="col">
      
                      <p class="mb-0 text-xs text-uppercase">
                        Partage le post:
                      </p>
      
                    </div>
                    <div class="col-auto">
                      <a href="#!" class="text-lg text-nounderline mx-2">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a href="#!" class="text-lg text-nounderline mx-2">
                        <i class="fab fa-facebook"></i>
                      </a>
                      <a href="#!" class="text-lg text-nounderline mx-2">
                        <i class="fab fa-instagram"></i>
                      </a>
      
                    </div>
                  </div>
      
                </div>
              </div> {# / .row #}
              <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                  
                  {# Heading #}
                  <h3 class="mb-5">
                    Commentaires:
                  </h3>
                  
                  {# Count #}
                  <p class="mb-0 text-uppercase text-xs text-muted">
                    2 commentaires
                  </p>
      
                  <hr>
                  
                  {# Form #}
                  <form class="mb-5">
                    <div class="form-group mb-0">
                      <label class="mb-3">
                        Ajoute un commentaire:
                      </label>
                      <div class="row no-gutters">
                        <div class="col-auto">
                          
                          {# Avatar #}
                          <div class="avatar mr-3">
                            <img src="assets/img/umh.jpeg" alt="..." class="img-cover rounded-circle">
                          </div>
      
                        </div>
                        <div class="col">
                          
                          <textarea class="form-control"></textarea>
      
                        </div>
                      </div> {# / .row #}
                    </div>
                  </form>
      
                  {# Comment #}
                  <div class="row no-gutters mb-4">
                    <div class="col-auto">
                      
                      {# Avatar #}
                      <div class="avatar mr-3">
                        <img src="assets/img/kml.jpeg" alt="..." class="img-cover rounded-circle">
                      </div>
      
                    </div>
                    <div class="col">
                      
                      {# Meta #}
                      <p class="mb-1 text-muted text-xs">
                        by <strong class="text-body">Jane Roe</strong> 15 minutes ago
                      </p>
                      
                      {# Text #}
                      <p class="mb-0 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi? Hic dignissimos laboriosam est molestiae dolore voluptatum iusto.
                      </p>
      
                    </div>
                  </div>
      
                  {# Comment #}
                  <div class="row no-gutters mb-0">
                    <div class="col-auto">
                      
                      {# Avatar #}
                      <div class="avatar mr-3">
                        <img src="assets/img/gg.jpeg" alt="..." class="img-cover rounded-circle">
                      </div>
      
                    </div>
                    <div class="col">
                      
                      {# Meta #}
                      <p class="mb-1 text-muted text-xs">
                        by <strong class="text-body">Judy Doe</strong> 17 minutes ago
                      </p>
                      
                      {# Text #}
                      <p class="mb-0 text-sm">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, animi? Hic dignissimos laboriosam est molestiae dolore voluptatum iusto.
                      </p>
      
                    </div>
                  </div>
      
                </div>
              </div> {# / .row #}
            </div> {# / .container #}
          </section>
      
         
          {# FEATURED
          ================================================== #}
          <section>
                <div class="container section pb-6" style='padding-top:2rem'>
                  <div class="row align-items-stretch">
                    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                      
                      <a class="card h-100" href="blog-post.html">
                        <div class="card-body">
          
                          {# Meta #}
                          <div class="row align-items-center no-gutters mb-4">
                            <div class="col-auto">
                              
                              <div class="avatar mr-3">
                                <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                              </div>
          
                            </div>
                            <div class="col">
                              
                              <p class="mb-0 text-xs text-muted">
                                par <strong class="text-body">Dr Bertrand Kimmel</strong> 5 hours ago
                              </p>
          
                            </div>
                          </div> {# / .row #}
                          
                          {# Heading #}
                          <h4>
                            Comment lutter efficacement et naturellement contre les poux.
                          </h4>
          
                          {# Text #}
                          <p class="mb-0 text-sm text-muted">
                           Voici nos solutions naturelles!
                          </p>
          
                        </div>
                      </a>
          
                    </div>
                    <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                      
                      <a class="card h-100" href="blog-post.html">
                        <div class="card-body">
          
                          {# Meta #}
                          <div class="row align-items-center no-gutters mb-4">
                            <div class="col-auto">
                              
                              <div class="avatar mr-3">
                                <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                              </div>
          
                            </div>
                            <div class="col">
                              
                              <p class="mb-0 text-xs text-muted">
                                par <strong class="text-body">Dr Bertrand Kimmel</strong> 1 day ago
                              </p>
          
                            </div>
                          </div> {# / .row #}
                          
                          {# Heading #}
                          <h4>
                            Les bienfaits des plantes
                          </h4>
          
                          {# Text #}
                          <p class="mb-0 text-sm text-muted">
                                Les plantes médicinales sont utilisées depuis des millénaires et particulièrement dans certaines médecines traditionnelles comme les médecines chinoise ou indienne.
                          </p>
          
                        </div>
                      </a>
          
                    </div>
                    <div class="col-12 col-lg-4">
                      
                      <a class="card h-100" href="blog-post.html">
                        <div class="card-body">
          
                          {# Meta #}
                          <div class="row align-items-center no-gutters mb-4">
                            <div class="col-auto">
                              
                              <div class="avatar mr-3">
                                <img src="assets/img/kml.jpg" alt="..." class="img-cover rounded-circle">
                              </div>
          
                            </div>
                            <div class="col">
                              
                              <p class="mb-0 text-xs text-muted">
                                par <strong class="text-body">Dr Bertrand Kimmel</strong> 2 days ago
                              </p>
          
                            </div>
                          </div> {# / .row #}
                          
                          {# Heading #}
                          <h4>
                            Intolérances aux oeufs
                          </h4>
          
                          {# Text #}
                          <p class="mb-0 text-sm text-muted">
                                Voici comment remplacer facilement les oeufs dans vos préparations.
                          </p>
          
                        </div>
                      </a>
          
                    </div>
                  </div> {# / .row #}
                </div> {# / .container #}
              </section>
          {% endblock %}