{# <footer>
	<div class="jumbotron">
		<ul class="nav nav-pills nav-justified" style="text-align: center;">
  			<li role="presentation" class="active"><a id="goToTop" href="">Go to Top</a></li>
  		</ul>
	</div>
</footer> #}

</div>
</div>
</div>
</div>

    {# FOOTER
    ================================================== #}
    <footer class="section bg-dark" >

      {# Triangles #}
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-left"></div>
      <div class="bg-triangle bg-triangle-light bg-triangle-bottom bg-triangle-right" style='color:#353A40'></div>

      {# Content #}
      <div class="container" style='color:#353A40'>
        <div class="row align-self-center">
          <div class="col-md-auto">

            {# Brand #}
            <p>
              <a href="#" class="footer-brand text-white">
                <svg class="footer-brand-svg" viewBox="0 0 235 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <img alt="nimble" src="/assets/img/brandmark-design-light-test10.png" style="height:15px;width:91px;margin-left:-75px;margin-bottom:9px"/>
                </svg>
              </a>
            </p>
        
          </div>
          <div class="col-md">
        
            {# Links #}
            <ul class="footer-links justify-content-end">
              <li>
                <a href="#" class="text-white">
                  Terms and conditions
                </a>
              </li>
              <li>
                <a href="#" class="text-white">
                  Privacy policy
                </a>
              </li>
              <li>
                <a href="#contact" class="text-white">
                  Contact us
                </a>
              </li>
            </ul>

          </div>
        </div> {# / .row #}
        <div class="row align-items-center">
          <div class="col-md">
        
            {# Copyright #}
            <p class="text-white text-muted">
              <small>
                &copy; Copyright <span class="current-year"></span> NIMBLE All rights reserved.
              </small>
            </p>

          </div>
          <div class="col-md">
        
            {# Social links #}
            <ul class="social-links text-md-right">
              <li>
                <a href="#">
                  <i class="fab fa-facebook"></i> 
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
        </div> {# / .row #}
      </div> {# / .container #}
    </footer>