{# FOOTER
	================================================== #}
	<footer class="section section_footer" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
          
            {# About Us #}
            <h5 class="section_footer__heading">
                A propos de nous
            </h5>
            <p style='text-align:justify' >
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.  

            </p>
  
          </div>
          <div class="col-sm-4">
          
            {# Contact info #}
            <h5 class="section_footer__heading">
              Contact
            </h5>
            <ul class="section_footer__info">
              <li>
                <i class="fa fa-map-marker" style='color:#305926'></i> 
                
                <a href="http://maps.google.com/?q=153 avenue du X septembre, 2551 Luxembourg" target="_blank">
                  153 avenue du X septembre, 2551 Luxembourg
                </a>
              </li>
              <li>
                <i class="fa fa-phone" style='color:#305926'></i>
                <a href="tel:+35226258383">
                    +352 26 25 83 83
                </a> 
                
              </li>
              <li>  
                <i class="fa fa-envelope-o" style='color:#305926'></i>   
                <a href="mailto:info@lecomptoirsante.com">
                    info@lecomptoirsante.com
                </a>
              </li>
            </ul>
  
          </div>
          <div class="col-sm-4">
          
              {# Contact info #}
              <h5 class="section_footer__heading">
                Nos engagements
              </h5>
              <ul class="section_footer__info">
                <li>
                    <i class="fas fa-truck" style='color:#305926'></i> Frais de port gratuits à partir de 60€ d'achat
                </li>
                <li>
                    <i class="fas fa-stopwatch" style='color:#305926'></i> Livraison en 2 - 3 jours ouvrables
                </li>
                <li>
                    <i class="fas fa-shield-alt" style='color:#305926'></i> Paiement sécurisé
                  
                </li>
                <li>
                    <i class="fas fa-lock" style='color:#305926'></i>Traçabilité des produits
                    
                  </li>
              </ul>
    
            </div>
        </div> {# / .row #}
        <div class="row">
          <div class="col-12">
          
            {# Copyright #}
            <div class="section_footer__copyright">
              <i class="fa fa-copyright"></i> <span id="js-current-year"></span> Steve Umuhire. Tous droits réservés.
            </div>
  
          </div>
        </div> {# / .row #}
      </div> {# / .container #}
    </footer>