<!-- FOOTER
	================================================== -->
	<footer class="section section_footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
          
            <!-- About Us -->
            <h5 class="section_footer__heading">
                About us
            </h5>
            <p style='text-align:justify' >
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit accusamus corporis nam eveniet, saepe, ipsum nostrum fugit, iste commodi expedita totam optio velit excepturi nemo, repellat doloribus laudantium repudiandae labore!
            </p>
  
          </div>
          <div class="col-sm-4">
          
            <!-- Contact info -->
            <h5 class="section_footer__heading">
              Contact
            </h5>
            <ul class="section_footer__info">
              <li>
                <i class="fa fa-map-marker"></i> 312, RUE DE CESSANGE L-1321 LUXEMBOURG
              </li>
              <li>
                <i class="fa fa-phone"></i> +352 26 48 27 75
              </li>
              <li>
                <i class="fa fa-envelope-o"></i> <a href="mailto:admin@domain.com">MORENO@MORENO.LU
                </a>
              </li>
            </ul>
  
          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">
          
            <!-- Copyright -->
            <div class="section_footer__copyright">
              <i class="fa fa-copyright"></i> <span id="js-current-year"></span> Moreno. Tous droits réservés.
            </div>
  
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </footer>