<header>    
    <div class="layout layout-nav-top" style="background-color: #353A40;">

    <div class="navbar navbar-expand-lg sticky-top" >
        <a class="navbar-brand" href="{{ path("index") }}">
            <img alt="nimble" src="/assets/img/Giallo-grey.png" style="height:18px;width:91px;margin-left:11px"/>
        </a>
        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block d-lg-none ml-2">
                <div class="dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img alt="Image" src="/assets/img/avatar-male-2.jpg" class="avatar" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{{ path('logout') }}" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse justify-content-between" id="navbar-collapse">
            <ul class="navbar-nav">
                {% if is_granted('ROLE_SCHOOL_USER_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href=""></a>
                </li>
                {% endif %}
            </ul>
            <div class="d-lg-flex align-items-center">
                
                <div class="d-none d-lg-block">
                    <div class="dropdown">
                        <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img alt="Image" src="/assets/img/avatar-male-2.jpg" class="avatar" />
                        </a>       
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{{ path('logout') }}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>


    