
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title" style="width: 20rem;">{{ question.title }}</h5>
        <p class="card-text">{{ comment.answer }}</p>
        <a href="{{ url("questionAnswer", {question: question.getid() }) }}" class="btn btn-primary">View Question</a>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>