<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="card" style="width: 700px;">
    <div class="card-body">
    <h1 class="mb-0" style='color:#353A40'> NIMBLE – Cultivating trust in higher education </h1>
    <p class="card-text" style='text-align:justify;color:#353A40'>Dear {{ graduateUserInvite.firstname |capitalize }},<br><br>

    A digital proof of qualification from {{ school.name |capitalize }} is ready and about to be issued to you.<br><br>

    We understand that you are already a member of the nimble community. We would be pleased to greet you as proof of degree holder.

    At Nimble we take our responsibility regarding the security of your personal information and our obligations regarding the Reg. 2016/679 (called hereafter "GDPR") very seriously. Please refer below.

    By <a href="{{ url("login") }}" class="btn btn-primary">Confirming</a> , you agree to receive your digital diploma and to be on our database.<br><br>

    In case you don't agree to stay on our database, you can delete your account by <a href="{{ url("registrationRefusal", {graduateUserInvite: graduateUserInvite.getId() }) }}" class="btn btn-warning">Decline</a>.<br><br><br></p>



    <h1 class="mb-0" style='color:#353A40'> General Data Protection Regulation – Protecting You and Your Privacy.</h1>

    <p class="card-text" style='text-align:justify;color:#353A40' >Nimble's privacy policy is meant to help you understand what information NIMBLE collects, why we collect it, what we do with it and how we manage it.<br><br>


    We have collected your data with a focus on qualification recognition. We have your details because an academic/educational institution is using our solution to issue digital document
    testifying you have successfully completed a particular course of study. We have appointed a Data Protection Officer (“DPO”) to oversee compliance with this policy.<br><br>
    


    Under normal circumstances, your personal information should stay within the EU/EEA where there is corresponding data protection legislation (GDPR), but on occasions, we have
    clients that are based outside this region. In cases where information is transferred outside the EU/EEA, your special consent should be required. We ensure the equal protection of 
    your privacy in the case of a non-EU/EEA transfer through our terms of business.<br><br>

    We will only collect and process your personal data when we have a lawful basis for doing so. The transfer of information outside this lawful basis includes when you provide us consent,
    when we have a contractual obligation to collect or process your personal data, and when we have a legitimate interest in processing your personal data.<br><br>


    In the course of managing your data, we may hand over your data to trusted partners, including our outsourced data processors working on Nimble’s behalf.  
    We are committed to ensuring your information is protected and apply safeguards in accordance with applicable law and the new GDPR regulation.<br><br>


    You may exercise the following data protection rights: the right of deletion, the right to amend or rectify your personal data, the right to object to the use of your personal data, 
    the right to restrict processing of your data, the right of access, and the right of portability.<br><br>

    So to reiterate, please rest assured that your data is safe in our hands. We are fully committed to abiding with GDPR and we apply all the necessary safekeeping and protection requested.<br><br>


    In case you don't agree to stay on our database, you can delete your account by contacting us at GDPR@nimble.degree<br><br>


    Thank you for your continued support.<br><br><br>


    The Nimble Team</p>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>